<div class="field{% if field.field.widget.input_type == 'checkbox' %} checkbox-row{% endif %}">
  {% if field.field.widget.input_type == 'checkbox' %}
    {{ field }} <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="help" id="{{ field.auto_id }}_helptext">{{ field.help_text }}</div>{% endif %}
  {% for e in field.errors %}<div class="err" role="alert">{{ e }}</div>{% endfor %}
</div>
